/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/l4/stm32l431Xc.dtsi>
#include <st/l4/stm32l431c(b-c)tx-pinctrl.dtsi>

/ {
	model = "Custom STM32L431CCT6 board";
	compatible = "st,stm32l431";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,flash = &flash0;
		zephyr,sram = &sram0;
	};

	leds: leds {
		compatible = "gpio-leds";

		red_led: led_0 {
			gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
			label = "Alive LED";
		};

		orange_led: led_1 {
			gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
			label = "USER LED";
		};

		green_led: led_2 {
			gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
			label = "User2 LED";
		};

	};

	aliases {
		led0 = &red_led;
		led1 = &orange_led;
	};


        zephyr,user {
            //               A0-PA0      A1-PA1    A2-PA4         A3-PB0       A4-PC1      A5-PC0
            io-channels = <&adc1 6>, <&adc1 7>, <&adc1 8>,  <&adc1 9> ;
            //io-channels = <&adc1 1>, <&adc1 2>;
	    mux-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>,
	    	        <&gpioh 1 GPIO_ACTIVE_HIGH>,
	    	        <&gpioh 0 GPIO_ACTIVE_HIGH>,
	    	        <&gpioc 13 GPIO_ACTIVE_HIGH>;

            enable-gpios =  <&gpiob 2 GPIO_ACTIVE_LOW>;
	};

};



/* Keep HSI enabled for system clock. This is 16Mhz */
&clk_hsi {
        status = "okay";
};

&clk_hse {
        status = "disabled";   /* no MHz external crystal */
};

/* Enable LSE for RTC/time base */
&clk_lse {
        status = "okay";
};


&clk_msi {
        status = "disabled";
};

/* Optional: keep LSI even LSE is enabled if you want dual RTC sources/watchdog */
&clk_lsi {
        status = "okay";
};

/* Configure PLL from HSI (16 MHz → 80 MHz) */
&pll {
        div-m = <1>;              /* /1  */
        mul-n = <20>;             /* ×20 */
        div-r = <4>;              /* /4  → 80 MHz */
        clocks = <&clk_hsi>;
        status = "okay";
};

/* Use PLL output as system clock */
&rcc {
        clocks = <&pll>;
        clock-frequency = <DT_FREQ_M(80)>;
        ahb-prescaler  = <1>;
        apb1-prescaler = <1>;
        apb2-prescaler = <1>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

//&flash0 {
//	partitions {
//		compatible = "fixed-partitions";
//		#address-cells = <1>;
//		#size-cells = <1>;

//		/*
//		 * Reserve the final 16 KiB for file system partition
//		 */
//		storage_partition: partition@3c000 {
//			label = "storage";
//			reg = <0x0003c000 DT_SIZE_K(16)>;
//		};
//	};
//};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* MCUboot bootloader: 36 KB */
        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 DT_SIZE_K(36)>;
        };

        /* Primary image slot: 98 KB */
        slot0_partition: partition@9000 {
            label = "image-0";
            reg = <0x00009000 DT_SIZE_K(98)>;
        };

        /* Secondary image slot: 98 KB */
        slot1_partition: partition@11D00 {
            label = "image-1";
            reg = <0x00011D00 DT_SIZE_K(98)>;
        };

        /* Scratch: 8 KB */
        scratch_partition: partition@3A000 {
            label = "image-scratch";
            reg = <0x0003A000 DT_SIZE_K(8)>;
        };

        /* Storage / NVS: 16 KB at end of flash */
        storage_partition: partition@3C000 {
            label = "storage";
            reg = <0x0003C000 DT_SIZE_K(16)>;
        };
    };
};


&adc1 {
    pinctrl-0 = <&adc1_in6_pa1 &adc1_in7_pa2 &adc1_in8_pa3 &adc1_in9_pa4>;  // add whatever inputs you need
    pinctrl-names = "default";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <4>;

    vref-mv = <3300>;
    status = "disabled";

     #address-cells = <1>;
    #size-cells = <0>;

    channel@6 {
        reg = <6>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };

    channel@7 {
        reg = <7>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };

    channel@8 {
        reg = <8>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };

    channel@9 {
        reg = <9>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };

};

